%head
  -# some head tags here
  :javascript
    function showImage(clickedOption) {
      alert(clickedOption);
      if (clickedOption.value == "Yes") {
        if (document.getElementById("libaasImage").src.indexOf("images/black.png") != -1) {
          document.getElementById("libaasImage").src = "images/black-collar.png";
        }
      }
    }

%body
  -# header menu here
  != yield
  -# a bit footer here